.card {
  background-color: var(--clr-white);
  color: var(--clr-primary);
  font-weight: var(--fw-bold);
  border-radius: 5px;
  padding: 1em;
  position: relative;
}

@media (min-width: 900px) {
  .card {
    display: flex;
  }
}

.card + .card {
  margin-top: 4rem;
}

@media (min-width: 900px) {
  .card + .card {
    margin-top: 2rem;
  }
}

.logo {
  position: absolute;
  top: -3em;
}

@media (min-width: 900px) {
  .logo {
    position: relative;
    top: 0;
    align-self: center;
  }
}

.card__content {
  margin-top: 3em;
}

@media (min-width: 900px) {
  .card__content {
    margin: 0;
    padding: 0 0.5em;
    flex: 2;
  }
}

.card__content::after {
  content: '';
  background-color: var(--clr-dark-grayish-cyan);
  width: 90%;
  height: 1px;
  position: absolute;
  margin-left: 0.5em;
}

@media (min-width: 900px) {
  .card__content::after {
    display: none;
  }
}

.content__top {
  align-items: center;
}

@media (max-width: 450px) {
  .content__top {
    display: block;
  }
}

.company {
  font-size: 1.2rem;
}

.priority {
  justify-content: flex-end;
}

@media (max-width: 450px) {
  .priority {
    display: inline-flex;
    justify-content: flex-start;
  }
}

.priority__name {
  text-transform: uppercase;
  color: var(--clr-white);
  padding: 0.5em 1em;
  border-radius: 100px;
}

.new {
  background-color: var(--clr-primary);
}

.featured {
  background-color: var(--clr-more-dark-grayish-cyan);
}

.priority__name + .priority__name {
  margin-left: 0.5em;
}

.position {
  color: var(--clr-more-dark-grayish-cyan);
  font-size: 1.5rem;
}

.content__bottom-item {
  font-weight: var(--fw-regular);
}

.content__bottom-item + .content__bottom-item {
  margin-left: 0.5em;
}
