:root {
  --clr-primary: hsl(180, 29%, 50%);
  --clr-background: hsl(180, 52%, 96%);
  --clr-filter-tablets: hsl(180, 31%, 95%);
  --clr-dark-grayish-cyan: hsl(180, 8%, 52%);
  --clr-more-dark-grayish-cyan: hsl(180, 14%, 20%);

  --clr-black: #000000;
  --clr-white: #ffffff;

  --fw-regular: 500;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--clr-background);
  font-size: 0.9375rem;
  font-family: 'Spartan', sans-serif;
}

p {
  margin: 0.5rem;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.text-gray {
  color: var(--clr-dark-grayish-cyan);
}
